input {
  display: block;
  margin: 1em;
  padding: 0.5em;
  font-size: 0.5em;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  position: relative;
}

span {
  font-size: 1em;
}

button {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 5px;
  font-size: 0.5em;
}

.warning {
  color: rebeccapurple;
  margin: 1em;
}